<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="loginLogo"><h1>회원가입</h1></div>
    <form action="" method="post">
        <div class="signUpEmailDiv">
            <img th:src="@{/image/userImgs/envelope-solid.svg}" class="emailLogo"><input type="text" name="email" placeholder="이메일" size="60"><button class="mailDupliCheckBtn">중복 확인</button>
        </div>
        <div class="dupliCheckDiv">
            <small class="d-none dupliMail">중복된 이메일입니다</small>
            <small class="d-none availableMail">사용 가능한 이메일입니다.</small>
        </div>

        <div class="nicknameDiv">
            <img th:src="@{/image/userImgs/user-solid.svg}" class="userLogo"><input type="text" name="nickname" placeholder="닉네임" size="60"><button class="nicknameDupliCheckBtn">중복 확인</button>
        </div>
        <div class="dupliCheckDiv">
            <small class="d-none dupliNickname">중복된 닉네임</small>
            <small class="d-none availableNickname">사용 가능한 닉네임입니다.</small>
        </div>

        <div class="passwordDiv">
            <img th:src="@{/image/userImgs/lock-solid.svg}" height="30px" width="30px" class="emailLogo"><input type="password" name="password" placeholder="비밀번호" size="60">
        </div>

        <div class="passwordDiv">
            <img th:src="@{/image/userImgs/lock-solid_light.svg}" height="30px" width="30px" class="emailLogo"><input type="password" name="passwordCheck" placeholder="비밀번호 확인" size="60">
        </div>
        <div class="signUpBtnDiv">
            <button type="submit" class="btn signUpBtn">회원가입</button>
        </div>
    </form>
</th:block>
</html>